#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#define alfa 0
#define punc 1
#define func 2
#define numb 3
#define navi 4
/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp J>, <&kp Z>;
        };
        td0: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp W>, <&kp X>;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        alfa { bindings = < &kp Q &kp B &kp U &kp F &none &none &none &none &kp W &kp M &kp G &kp J &hm LCTRL A &hm LALT I &hm LGUI N &hm LSHIFT E &none &none &none &none &hm RSHIFT T &hm RGUI H &hm RCTRL O &hm RALT S &kp V &kp P &kp D &kp R &none &none &none &none &kp C &kp L &kp Y &kp K &none &none &tog func &mo punc &none &none &none &none &lt numb SPACE &tog navi &none &none >; };
        punc { bindings = < &kp ESC &kp RPAR &kp LPAR &kp LG(TAB) &none &none &none &none &kp GRAVE &kp MINUS &kp EQUAL &kp BSPC &kp LSHIFT &kp LCTRL &kp LALT &kp LGUI &none &none &none &none &kp SEMI &kp SQT &kp LBKT &kp LBRC &none &none &none &none &none &none &none &none &kp COMMA &kp DOT &kp FSLH &kp BSLH &none &none &none &trans &none &none &none &none &kp TAB &none &none &none >; };
        func { bindings = < &none &none &none &none &none &none &none &none &kp F1 &kp F2 &kp F3 &kp F4 &kp LSHIFT &kp LCTRL &kp LALT &kp LGUI &none &none &none &none &kp F5 &kp F6 &kp F7 &kp F8 &none &none &none &none &none &none &none &none &kp F9 &kp F10 &kp F11 &kp F12 &none &none &trans &none &none &none &none &none &none &none &none &none >; };
        numb { bindings = < &none &kp N3 &kp N2 &kp N1 &none &none &none &none &kp CAPS &kp LC(K) &kp DEL &kp BSPC &kp KP_EQUAL &kp N6 &kp N5 &kp N4 &none &none &none &none &kp LSHIFT &kp LGUI &kp LALT &kp LCTRL &kp KP_DOT &kp N9 &kp N8 &kp N7 &none &none &none &none &kp KP_PLUS &kp KP_MINUS &kp KP_ASTERISK &kp KP_SLASH &none &none &kp N0 &kp RET &none &none &none &none &trans &none &none &none>; };
        navi { bindings = < &kp PG_UP &none &kp UP &none &none &none &none &none &kp RG(X) &kp RG(C) &kp RG(V) &kp RG(Z) &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT &none &none &none &none &kp RSHIFT &kp RGUI &kp RALT &kp RCTRL &kp C_BRI_DN &kp C_BRI_UP &kp C_VOL_DN &kp C_VOL_UP &none &none &none &none &kp RG(A) &kp RG(B) &kp RG(U) &kp RG(I) &none &none &none &none &none &none &none &none &none &trans &none &none >; };
    };
};
