#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#define alfa 0
#define punc 1
#define func 2
#define numb 3
#define navi 4
/ {
    behaviors {
        hm: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <150>;
        quick-tap-ms = <0>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        alfa { bindings = < &kp Q &kp B &kp U &kp F &kp F20 &kp F20 &kp F20 &kp F20 &kp W &kp M &kp G &kp J &hm LCTRL A &hm LALT I &hm LGUI N &hm LSHIFT E &kp F20 &kp F20 &kp F20 &kp F20 &hm RSHIFT T &hm RGUI H &hm RCTRL O &hm RALT S &kp V &kp P &kp D &kp R &kp F20 &kp F20 &kp F20 &kp F20 &kp C &kp L &kp Y &kp K &kp F20 &kp F20 &tog func &mo punc &kp F20 &kp F20 &kp F20 &kp F20 &lt numb SPACE &tog navi &kp F20 &kp F20 >; };
        punc { bindings = < &kp ESCAPE KC_RPRN KC_LPRN LGUI(KC_TAB) &kp F20 &kp F20 &kp F20 &kp F20 &kp GRAVE &kp MINUS &kp EQUAL &kp BACKSPACE &kp LEFT_SHIFT &kp LEFT_CONTROL &kp LEFT_ALT &kp LEFT_GUI &kp F20 &kp F20 &kp F20 &kp F20 &kp SEMICOLON &kp SINGLE_QUOTE &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp COMMA &kp DOT &kp SLASH &kp BACKSLASH &kp F20 &kp F20 &kp F20 &trans &kp F20 &kp F20 &kp F20 &kp F20 &kp TAB &kp F20 &kp F20 &kp F20 >; };
        func { bindings = < &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F1 &kp F2 &kp F3 &kp F4 &kp LEFT_SHIFT &kp LEFT_CONTROL &kp LEFT_ALT &kp LEFT_GUI &kp F20 &kp F20 &kp F20 &kp F20 &kp F5 &kp F6 &kp F7 &kp F8 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F9 &kp F10 &kp F11 &kp F12 &kp F20 &kp F20 &trans &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 >; };
        numb { bindings = < &kp F20 &kp N3 &kp N2 &kp N1 &kp F20 &kp F20 &kp F20 &kp F20 &kp CAPSLOCK LCTRL(KC_K) &kp DELETE &kp BACKSPACE &kp KP_EQUAL &kp N6 &kp N5 &kp N4 &kp F20 &kp F20 &kp F20 &kp F20 &kp LEFT_SHIFT &kp LEFT_GUI &kp LEFT_ALT &kp LEFT_CONTROL &kp KP_DOT &kp N9 &kp N8 &kp N7 &kp F20 &kp F20 &kp F20 &kp F20 &kp KP_PLUS &kp KP_MINUS &kp KP_ASTERISK &kp KP_SLASH &kp F20 &kp F20 &kp N0 &kp ENTER &kp F20 &kp F20 &kp F20 &kp F20 &trans &kp F20 &kp F20 &kp F20>; };
        navi { bindings = < &kp PAGE_UP KC_WH_U &kp UP KC_WH_D &kp F20 &kp F20 &kp F20 &kp F20 RGUI(KC_X) RGUI(KC_C) RGUI(KC_V) RGUI(KC_Z) &kp PAGE_DOWN &kp LEFT &kp DOWN &kp RIGHT &kp F20 &kp F20 &kp F20 &kp F20 &kp RIGHT_SHIFT &kp RIGHT_GUI &kp RIGHT_ALT &kp RIGHT_CONTROL &kp C_BRIGHTNESS_DEC &kp C_BRIGHTNESS_INC &kp C_VOLUME_DOWN &kp C_VOLUME_UP &kp F20 &kp F20 &kp F20 &kp F20 RGUI(KC_A) RGUI(KC_B) RGUI(KC_U) RGUI(KC_I) &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &trans &kp F20 &kp F20 >; };
    };
};
