#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#define ALFA 0
#define SMBL 1
#define FUNC 2
#define NAVR 3
#define NAVL 4
/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp >;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        ALFA { bindings = <
            &kp ESC         &kp N1          &kp N2       &kp N3       &kp N4           &kp N5           &kp N6           &kp N7           &kp N8       &kp N9         &kp N0           &kp BACKSPACE
            &kp GRAVE       &kp Q           &kp W        &kp E        &kp R            &kp T            &kp Y            &kp U            &kp I        &kp O          &kp P            &kp DELETE
            &kp TAB         &hm LALT A      &hm LCTRL S  &hm LGUI D   &hm LSHIFT F     &kp G            &kp H            &hm RSHIFT J     &hm RGUI K   &hm RCTRL L    &hm RALT SEMI    &kp SQT
            &kp CAPS        &kp Z           &kp X        &kp C        &kp V            &kp B            &kp N            &kp M            &kp COMMA    &kp DOT        &kp FSLH         &kp BSLH
            &kp LC(LEFT)    &kp LC(RIGHT)   &kp LC(UP)   &mo NAVR     &lt SMBL SPACE   &lt SMBL SPACE   &lt FUNC SPACE   &lt FUNC SPACE   &mo NAVL     &kp C_VOL_DN   &kp C_VOL_UP     &kp C_MUTE
            >;
        };
        SMBL { bindings = <
            &kp ESC         &kp EXCL        &kp AT       &kp HASH     &kp DOLLAR       &kp PERCENT      &kp CARET        &kp AMPS         &kp STAR     &kp LPAR       &kp RPAR         &kp BACKSPACE
            &kp GRAVE       &none           &none        &none        &none            &none            &none            &kp UNDER        &kp LBRC     &kp RBRC       &kp PLUS         &kp DELETE
            &kp TAB         &kp LALT        &kp LCTRL    &kp LGUI     &kp LSHIFT       &none            &none            &kp KP_EQUAL     &kp LBKT     &kp RBKT       &kp COLON        &kp DQT
            &kp CAPS        &none           &none        &none        &none            &none            &none            &kp KP_MINUS     &kp LT       &kp GT         &kp QMARK        &kp PIPE
            &kp LC(LEFT)    &kp LC(RIGHT)   &kp LC(UP)   &none        &trans           &trans           &kp SPACE        &kp SPACE        &none        &kp C_BRI_DN   &kp C_BRI_UP     &none
            >;
        };
        FUNC { bindings = <
            &kp ESC         &kp N1          &kp N2       &kp N3       &kp N4           &kp N5           &kp N6           &kp N7           &kp N8       &kp N9         &kp N0           &kp BACKSPACE
            &kp GRAVE       &kp F1          &kp F2       &kp F3       &kp F4           &kp F5           &none            &none            &none        &none          &none            &kp DELETE
            &kp TAB         &kp F6          &kp F7       &kp F8       &kp F9           &kp F10          &none            &kp RSHIFT       &kp RGUI     &kp RCTRL      &kp RALT         &none
            &kp CAPS        &kp F11         &kp F12      &kp F13      &kp F14          &kp F15          &none            &none            &none        &none          &none            &none
            &kp LC(LEFT)    &kp LC(RIGHT)   &kp LC(UP)   &none        &kp RET          &kp RET          &trans           &trans           &none        &none          &none            &none
            >;
        };
        NAVR { bindings = <
            &kp ESC         &kp N1          &kp N2       &kp N3       &kp N4           &kp N5           &kp N6           &kp N7           &kp N8       &kp N9         &kp N0           &kp BACKSPACE
            &kp GRAVE       &none           &none        &none        &none            &none            &none            &none            &kp UP       &none          &none            &kp DELETE
            &kp TAB         &kp LALT        &kp LCTRL    &kp LGUI     &kp LSHIFT       &none            &kp LPAR         &kp LEFT         &kp DOWN     &kp RIGHT      &none            &none
            &kp CAPS        &none           &none        &none        &none            &none            &kp RPAR         &kp LG(X)        &kp LG(C)    &kp LG(V)      &none            &none
            &kp LC(LEFT)    &kp LC(RIGHT)   &kp LC(UP)   &trans       &kp SPACE        &kp SPACE        &kp SPACE        &kp SPACE        &none        &none          &none            &none
            >;
        };
        NAVL { bindings = <
            &kp ESC         &kp N1          &kp N2       &kp N3       &kp N4           &kp N5           &kp N6           &kp N7           &kp N8       &kp N9         &kp N0           &kp BACKSPACE
            &kp GRAVE       &none           &none        &kp UP       &none            &none            &none            &none            &none        &none          &none            &kp DELETE
            &kp TAB         &none           &kp LEFT     &kp DOWN     &kp RIGHT        &none            &none            &kp RSHIFT       &kp RGUI     &kp RCTRL      &kp RALT         &none
            &kp CAPS        &none           &kp LG(X)    &kp LG(C)    &kp LG(V)        &none            &none            &none            &none        &none          &none            &none
            &kp LC(LEFT)    &kp LC(RIGHT)   &kp LC(UP)   &none        &kp SPACE        &kp SPACE        &kp SPACE        &kp SPACE        &trans       &none          &none            &none
            >;
        };
    };
};
